  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic10" ngbDropdownToggle>Reportes - 10
              Usuarios</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic10">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Accidentes Personales'}"
                  routerLinkActive="active">Accidentes Personales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'APV MAX 3.0'}"
                  routerLinkActive="active">APV MAX 3.0</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Dominium Max 3.0 K'}"
                  routerLinkActive="active">Dominium Max 3.0 - K</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Dominium Max 3.0'}"
                  routerLinkActive="active">Dominium Max 3.0</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Max Universitario'}"
                  routerLinkActive="active">Max Universitario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Mi APV Seguro Pack 1.0'}"
                  routerLinkActive="active">Mi APV Seguro Pack 1.0</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'VIVE OK'}"
                  routerLinkActive="active">Vive OK</a>
              </li>
            </div>
            <div ngbDropdown class="d-inline-block ml-2">
              <button class="btn btn-outline-primary" id="dropdownBasic50" ngbDropdownToggle>Reportes - 50
                Usuarios</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic50">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Mi APV Seguro Pack 1.0 - 50'}"
                    routerLinkActive="active">Mi APV Seguro Pack 1.0</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Temporal Plus - 50'}"
                    routerLinkActive="active">Temporal Plus</a>
                </li>                
              </div>
            </div>
            <div ngbDropdown class="d-inline-block ml-2">
              <button class="btn btn-outline-primary" id="dropdownBasic50" ngbDropdownToggle>Reportes - 100
                Usuarios</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic50">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'APV MAX 3.0 - 100'}"
                    routerLinkActive="active">APV MAX 3.0 </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'Temporal Plus - 100'}"
                    routerLinkActive="active">Temporal Plus</a>
                </li>                
              </div>
            </div>
            <div ngbDropdown class="d-inline-block ml-2">
              <button class="btn btn-outline-primary" id="dropdownBasic50" ngbDropdownToggle>Reportes - 200
                Usuarios</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic50">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/report']" [queryParams]="{type : 'APV MAX 3.0 - 200'}"
                    routerLinkActive="active">APV MAX 3.0 </a>
                </li>
                             
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
